    <!-- Footer -->
    <div class="py-4 footer bg-navy d-none d-xl-block hideWhenPrint">
        <div>
            <div class="container px-5 py-3">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-2">
                        <NavLink href="" class="brand d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                            <img src="img/logo.png" class="img-fluid" alt="4Health">
                        </NavLink>
                    </div>
                    <div class="col-6 col-lg-4 col-md-5">
                        <h6 class="mb-3 text-white fw-bold">CLINIC</h6>
                        <NavLink class="py-1 text-decoration-none d-block w-100 text-light" href="about">About Us</NavLink>
                        <NavLink class="py-1 text-decoration-none d-block w-100 text-light" href="doctor">Doctor</NavLink>
                        <NavLink class="py-1 text-decoration-none d-block w-100 text-light" href="health-packages">Health package</NavLink>
                        <NavLink class="py-1 text-decoration-none d-block w-100 text-light" href="doctor">Booking Appointment</NavLink>
                        <NavLink class="py-1 text-decoration-none d-block w-100 text-light" href="blog">News</NavLink>
                    </div>
                    <div class="col-6 col-lg-4 col-md-5">
                        <h6 class="mb-3 text-white fw-bold">SUPPORT</h6>
                        <div class="d-flex gap-3 mb-3 py-1">
                            <i class="bi bi-chat-dots text-white h5 m-0"></i>
                            <div>
                                <p class="mb-1 fw-bold text-white">Chat with us</p>
                                <small class="text-light">Chat online with one of our support experts.</small>
                            </div>
                        </div>
                        <div class="d-flex gap-3 mb-3 py-1">
                            <i class="bi bi-telephone text-white h5 m-0"></i>
                            <div>
                                <p class="mb-1 fw-bold text-white">Call us</p>
                                <small class="text-light">Contact us during office hours at: 098 xxx xxxx.</small>
                            </div>
                        </div>
                        <div class="d-flex gap-3 py-1">
                            <i class="bi bi-geo-alt text-white h5 m-0"></i>
                            <div>
                                <p class="mb-1 fw-bold text-white">Address</p>
                                <small class="text-light">FPT City urban area, Ngu Hanh Son, Da Nang.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="bg-black py-3 mt-auto copyright-footer">
    <div class="container px-4">
        <div class="row align-items-center justify-content-center flex-column flex-sm-row">
            <div class="col-auto text-center">
                <div class="small m-0 text-white fw-bold">©Copyright belongs to Young Blood team.</div>
            </div>
        </div>
    </div>
</footer>