@inherits LayoutComponentBase
<RadzenComponents />
<PageTitle>Clinic.Blazorweb</PageTitle>

<body style="background: none !important" class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <NavMenu />
        @Body
    </main>
    <Footer />
</body>