@page "/forgot"

<main>
	<div class="container mt-5">
		<div class="card bold-border mb-4 shadow-lg">
			<div class="row no-gutters mx-4 my-3 px-3 py-4">
				<div class="col-md-4 pr-5">
					<h2 class="m-auto fw-bold text-center text-black mb-2 mx-auto p-2 text-uppercase">Forgot password</h2>
					<form>
						<input type="hidden" />
						<div class="form-control mb-3"> 
							<label class="fs-4 text-sm text-muted"> Email <small class="text-danger">*</small></label>
							<input type="email" placeholder="Enter your email" autocomplete="on" autofocus>
						</div>
						<div class="mb-3">
							<button type="button" class="btn btn-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase"> RESET PASSWORD</button>
						</div>
					</form>
					<div class="text-center">
						<p class="text-muted mb-0 fs-9">Already have an account? <a asp-page="/Account/Create/Index" class="text-mdinfo"> Log in here</a></p>
					</div>
				</div>
				<div class="col-md-8 pr-5 d-flex justify-content-center align-items-center">
					<img class="card-img-top image-right mb-5" src="/img/background.png" alt="background-photo">
				</div>
			</div>
		</div>

		<div class="align-items-center text-bold text-center mt-2 mb-3">
			<h5 class="text-xs">Identity Server</h5>
		</div>
</main>
