@page
@model webapp.Pages.Create.Index
<div class="bg-primary">
    <div class="container px-5 py-5 signup">
        <partial name="_ValidationSummary"/>
        <div>
            <div class="m-auto bg-white shadow-sm p-5 rounded-3 text-center col-lg-5 mx-auto">
                <h3 class="fw-bold text-black mb-2">Sign Up</h3>
                <form asp-page="/Account/Create/Index">
                    <div class="row">
                        <input type="hidden" asp-for="Input.ReturnUrl"/>

                        <div class="mb-3">
                            <label asp-for="Input.Email">
                                <small class="text-danger">*</small>
                            </label>
                            <input class="form-control" placeholder="Email" asp-for="Input.Email" autofocus>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Name">
                                <small class="text-danger">*</small>
                            </label>
                            <input type="text" class="form-control" placeholder="Name" asp-for="Input.Name">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Phone">
                                <small class="text-danger">*</small>
                            </label>
                            <input type="text" class="form-control" placeholder="Phone Number" asp-for="Input.Phone">
                        </div>
                        <div class="mb-3 input-group align-items-center">
                            <label asp-for="Input.Password">
                                <small class="text-danger">*</small>
                            </label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                        </div>
                        <div class="mb-3 input-group align-items-center">
                            <label asp-for="Input.Password">
                                <small class="text-danger">*</small>
                            </label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Input.ConfirmPassword" autocomplete="off">
                        </div>
                        <button class="btn btn-primary" name="Input.Button" value="create">Create</button>
                        <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>