@page
@model webapp.Pages.Create.Index

<main>
	<div class="container mt-5">
		<div class="card bold-border mb-4 shadow-lg">
			<div class="row no-gutters mx-4 my-3 px-3 py-4">
				<div class="col-md-4 pr-5">
					<form class="p-3" asp-page="/Account/Create/Index">
						<h2 class="m-auto fw-bold text-center text-black mb-2 mx-auto p-2">SIGN UP</h2>
						<div class="row">
							<input type="hidden" asp-for="Input.ReturnUrl" />
							<div class="mb-3">Q2ZESjhPNXYvYVlPMEI5QXBPaEl4UEtTTFpnYWxtbUYwV0R4SzlwUmQ4QXpvYjFsYkhpTVYrMUFjWjBrWUVxUGRuQVFudGZNYm11dHROZzJHcGNlWDcrbmhHUkwreTh6WWluY0ZITWpzUFNGQzIyKzRUbi9XZlJRSzVmQ0ZVeThueU5IOUlkdDVuVk11VEkycjRkSC9JdzRzUWk2K3VXaHZJU2hjcEt1aFo3MVh4cjQ3NXBOYTNJMXR4QkU2Vkgyb0xtUGFpdjF3WUZMMzZ6QWxqdWFzYUxkVnJnPQ
								<label class="fs-5" asp-for="Input.Name">Name<small class="text-danger">*</small></label>
								<input class="form-control" placeholder="Input Name" asp-for="Input.Name">
							</div>
							<div class="mb-3">
								<label class="fs-5" asp-for="Input.Email">Email<small class="text-danger">*</small></label>
								<input class="form-control" placeholder="name@example.com" asp-for="Input.Email" autofocus>
							</div>
							<div class="mb-3">
								<label class="fs-5" asp-for="Input.Phone">Phone Number<small class="text-danger">*</small></label>
								<input type="tel" class="form-control" placeholder="Input Phone Number" asp-for="Input.Phone">
							</div>
							<div class="mb-3">
								<label class="fs-5 text-sm" asp-for="Input.Password">Password<small class="text-danger">*</small></label>
								<input type="password" class="form-control" placeholder="Input Password" asp-for="Input.Password" autocomplete="off">
							</div>
							<div class="mb-3">
								<label class="fs-5 text-sm" asp-for="Input.Password">Confirm Password<small class="text-danger">*</small></label>
								<input type="password" class="form-control" placeholder="Input Confirm Password" asp-for="Input.ConfirmPassword" autocomplete="off">
							</div>
							<div class="btn-group d-flex justify-content-between py-3">
								<button class="btn btn-warning fw-bold fs-7 rounded-3 w-30 h-10 border-0 mx-3 text-uppercase" name="Input.Button" value="create">Create</button>
								<button class="btn btn-warning fw-bold fs-7 rounded-3 w-30 h-10 border-0 mx-3 text-uppercase" name="Input.Button" value="cancel">Cancel</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-8 pr-5 d-flex justify-content-center align-items-center">
					<img class="card-img-top image-right mb-5" src="/img/background.png" alt="background-photo">
				</div>
			</div>
		</div>
	<div class="align-items-center text-bold text-center mt-2 mb-3">
		<h5 class="text-xs">Identity Server</h5>
	</div>
		</div>
</main>
