@page "/chooseschedule"
@using Clinic.BlazorWebPWA.Extensions
@using Net.payOS
@using Net.payOS.Types
@inject PayOS _payOS
@inject IClinicService clinicService


<div class="bg-light p-4 rounded-3">
    <div class="mx-auto">
        <div class="row">
            <div class="mb-3 col-6">
                <label for="date" class="form-label medium text-black">Choose appointment date <small class="text-danger fw-bold">*</small></label>
                <RadzenDatePicker @bind-Value=@DateOnly DateFormat="dd/MM/yyyy" Change="@(args => SelectDate(args))" Style="width: 100%" Name="RadzenDatePickerBindValue" ShowCalendarWeek/>
            </div>
            <div class="mb-3 col-6">
                <label for="time" class="form-label medium text-black">Choose appointment time <small class="text-danger fw-bold">*</small></label>
                <RadzenDropDown TValue="TimeSpan" Value=@TimeOnly Data=@timeSlots Change="@(args => SelectTime(args))" Style="width: 100%; max-width: 400px;" Name="DropDownChangeEvent"/>
            </div>
        </div>
         <div class="text-center col-md-4 p-2 mx-auto">
                            <button @onclick="@(_ => SendSchedule())" Disabled="@notBook" class="btn btn-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase"> Checkout </button>
                        </div>
    </div>
</div>


 @code {
    [Parameter] public BookingDetailsViewModel Booking { get; set; }
    private DateTime DateOnly { get; set; }
    private TimeSpan TimeOnly { get; set; }
    List<TimeSpan> timeSlots = Extension.GetTimeSlots();
    bool notBook;
    [Inject] IAccessTokenProvider TokenProvider { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string accessToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            nav.NavigateTo("authentication/login");
        }

        var accessTokenResult = await TokenProvider.RequestAccessToken();
        accessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            accessToken = token.Value;
        }
    }

    async Task SelectDate(object value)
    {
        DateOnly = (DateTime)value;
        if (DateOnly.Add(TimeOnly).Ticks < DateTime.Now.Ticks)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "You cannot book time before" });
            notBook = true;
        }
        else
        {
            var response = await clinicService.GetScheduleAsync<ResponseDto>(Booking.DoctorId);
            if (response != null && response.IsSuccess)
            {
                var result = JsonConvert.DeserializeObject<List<long>>(Convert.ToString((response.Result)));
                if (result.Any(x => x == DateOnly.Add(TimeOnly).Ticks))
                {
                    NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "This time was booked" });
                    notBook = true;
                }
                else
                {
                    notBook = false;
                }
                StateHasChanged();
            }
        }
    }

    async Task SelectTime(object value)
    {
        TimeOnly = (TimeSpan)value;
        if (DateOnly.Add(TimeOnly).Ticks < DateTime.Now.Ticks)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "You cannot book time before" });
            notBook = true;
        }
        else
        {
            var response = await clinicService.GetScheduleAsync<ResponseDto>(Booking.DoctorId);
            if (response != null && response.IsSuccess)
            {
                var result = JsonConvert.DeserializeObject<List<long>>(Convert.ToString((response.Result)));
                if (result.Any(x => x == DateOnly.Add(TimeOnly).Ticks))
                {
                    NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "This time was booked" });
                    notBook = true;
                }
                else
                {
                    notBook = false;
                }
                StateHasChanged();
            }
        }
    }

    private async Task SendSchedule()
    {
        Booking.OrderPlacedDate = DateOnly.Add(TimeOnly).Ticks;
        var response = await clinicService.CreateOrUpdateBooking<ResponseDto>(Booking, accessToken);
        if (response != null && response.IsSuccess)
        {
            int orderCode = int.Parse(DateTimeOffset.Now.ToString("ffffff"));

            List<ItemData> items = new List<ItemData>();
            foreach (var product in Booking.Products)
            {
                ItemData item = new ItemData(product.Name, 1, product.Price);
                items.Add(item);
            }

            PaymentData paymentData = new PaymentData(orderCode, (int)Booking.OrderTotal, "Thanh toan don hang", items, "https://icy-bush-0e7ff6b00.5.azurestaticapps.net/payment/failed", $"https://icy-bush-0e7ff6b00.5.azurestaticapps.net/payment/success/{Booking.Id}");

            CreatePaymentResult createPayment = await _payOS.createPaymentLink(paymentData);

            nav.NavigateTo(createPayment.checkoutUrl);
            //nav.NavigateTo($"/payment/success/{updateModel.Id}");

        }
    }

}