@page "/ResetPasswordConfirmation"
@model webapp.Pages.Account.ResetPassword.ResetPasswordConfirmation

@{
    Layout = null;
}

<p>
    Reset password successfully. <a asp-page="./Login">Login here</a>.
</p>