@page "/add-product"
@layout AdminLayout

<PageTitle>Add Service</PageTitle>

<link href="css/admin.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="list-product">Services</a></li>
                        <li class="breadcrumb-item"><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Edit Service</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Service detail</h4>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-block local-forms">
                                        <label>Service's Name<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="input-block local-forms">
                                        <label>Creator<span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="input-block local-forms">
                                        <label>Specialization<span class="login-danger">*</span></label>
                                        <RadzenDropDown TValue="int" ValueProperty="Key" TextProperty="Value" Value=@value Data=@specFilter Change="@(args => SpecSelect(args))" Style="width: 100%; max-width: 400px;" Name="DropDownChangeEvent" />
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="input-block local-forms">
                                        <label>Service In Combo<span class="login-danger">*</span></label>
                                        <RadzenDropDown TValue="int" ValueProperty="Key" TextProperty="Value" Value=@value Data=@specFilter Change="@(args => SpecSelect(args))" Style="width: 100%; max-width: 400px;" Name="DropDownChangeEvent" />
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12">
                                    <div class="input-block local-forms">
                                        <label>Description<span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="input-block local-top-form">
                                        <label class="local-top">Upload image<span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="image" id="file" onchange="if (!window.__cfRLUnblockHandlers) return false; loadFile(event)" class="hide-input" data-cf-modified-e8088f475d55c291364b1df7->
                                            <label for="file" class="upload">Choose File</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="input-block select-gender">
                                        <label class="gen-label">Service Package<span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="True" class="form-check-input">True
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="False" class="form-check-input">False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="input-block local-forms">
                                        <label>Price<span class="login-danger">*</span></label>
                                        <input class="form-control" type="number" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>