@page "/add-product"
@layout AdminLayout

<PageTitle>Thêm mới sản phẩm</PageTitle>

<link href="css/admin.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="list-product">Sản phẩm</a></li>
                        <li class="breadcrumb-item"><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Chỉnh sửa sản phẩm</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Chi tiết sản phẩm</h4>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-block local-forms">
                                        <label>Tên sản phẩm <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="input-block local-forms">
                                        <label>Người tạo sản phẩm <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="input-block local-forms">
                                        <label>Chuyên khoa <span class="login-danger">*</span></label>
                                        <select class="form-control select">
                                            <option>Chọn chuyên khoa</option>
                                            <option>Chuyên khoa 1</option>
                                            <option>Chuyên khoa 2</option>
                                            <option>Chuyên khoa 3</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12">
                                    <div class="input-block local-forms">
                                        <label>Mô tả sản phẩm <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="input-block local-top-form">
                                        <label class="local-top">Upload hình ảnh <span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="image" id="file" onchange="if (!window.__cfRLUnblockHandlers) return false; loadFile(event)" class="hide-input" data-cf-modified-e8088f475d55c291364b1df7->
                                            <label for="file" class="upload">Choose File</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="input-block select-gender">
                                        <label class="gen-label">Gói sản phẩm<span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="True" class="form-check-input">Đúng
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="False" class="form-check-input">Sai
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="input-block local-forms">
                                        <label>Giá tiền <span class="login-danger">*</span></label>
                                        <input class="form-control" type="number" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Xác nhận</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Hủy bỏ</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>