@page "/404"

<PageTitle>404 Not found</PageTitle>

<div class="bg-white">
    <div class="container px-5 py-5">
        <div>
            <div class="text-center col-lg-5 mx-auto">
                <img src="img/404.png" class="img-fluid" alt="4Health">
                <h1 class="text-black fw-bold">Xin lỗi, không tìm thấy trang này!</h1>
                <p class="fs-6 mb-5 text-black">
                    Có vẻ như đường liên kết không chính xác.
                </p>
                <a href="/" class="btn btn-warning fw-bold fs-7 rounded-3 border-0 px-4 py-3 text-uppercase text-black">
                    <i class="bi bi-arrow-left"></i> Quay lại trang chủ
                </a>
            </div>
        </div>
    </div>
</div>