@page "/blog"

<PageTitle>Blog</PageTitle>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <div class="bg-primary">
            <header class="bg-primary py-4 inner-header">
                <div class="container py-3 px-5">
                    <div class ="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="text-center">
                                    <h1 class="fw-bold text-white text-uppercase">Medical News</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <section class="py-3 bg-white">
            <div class="container px-5 pt-5">
                <div class="row gx-5">
                    <div class="col-lg-12 mb-5">
                        <div class="card shadow-sm rounded-3 border-0 overflow-hidden">
                            <div class="card-body p-0">
                                <div class="row gx-0">
                                    <div class="col-lg-6 col-xl-7">
                                        <div class="bg-featured-blog" style="background-image: url('img/post_1.webp')"></div>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 py-lg-5">
                                        <div class="p-4 p-md-5">
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                            <div class="h2 fw-bolder">Severe heat: Risk of heat stroke and prevention measures</div>
                                            <p>You are worried that prolonged heat will make your body tired and pose a potential risk of heat stroke for your family. Join us to learn more about this phenomenon in this article.</p>
                                            <a class="stretched-link text-decoration-none" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                                Read more
                                                <i class="bi bi-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow-sm rounded-3 border-0">
                            <img class="card-img-top" src="img/post_2.jpg" alt="...">
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                <a class="text-decoration-none link-dark stretched-link" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                    <h5 class="card-title mb-3 lh-base">Ultra-processed foods: Convenient but potentially dangerous</h5>
                                </a>
                                <p class="card-text mb-0">Ultra-processed food products, while convenient, also carry many health risks. Below are some signs that you can recognize and thereby minimize the consumption of unhealthy foods in your daily diet.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="text-muted">March, 31 2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow-sm rounded-3 border-0">
                            <img class="card-img-top" src="img/post_3.webp" alt="...">
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                <a class="text-decoration-none link-dark stretched-link" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                    <h5 class="card-title mb-3 lh-base">Atopic dermatitis and 7 allergenic foods you should know</h5>
                                </a>
                                <p class="card-text mb-0">Atopic dermatitis is one of the most common skin problems and is often at risk of allergies. Medpro provides information about 7 foods that are easily allergic to patients to help you control your skin condition effectively.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="text-muted">March 29, 2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow-sm rounded-3 border-0">
                            <img class="card-img-top" src="img/post_4.jpg" alt="...">
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                <a class="text-decoration-none link-dark stretched-link" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                    <h5 class="card-title mb-3 lh-base">Measles - More than 50% of countries are at risk of outbreaks by the end of 2024</h5>
                                </a>
                                <p class="card-text mb-0">More than half of the world's countries are facing a high or very high risk of a measles outbreak by the end of 2024. According to data published by WHO, the number of measles cases in 2023 has increased by 79% to more than 300,000. cases, primarily due to declining vaccination rates during the COVID-19 pandemic.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="text-muted">March 27, 2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* <div class="row gx-5">
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow-sm rounded-3 border-0">
                            <img class="card-img-top" src="img/blog-4.jpeg" alt="...">
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                <a class="text-decoration-none link-dark stretched-link" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                    <h5 class="card-title mb-3 lh-base">Most People Don't Know About Medical Clinic</h5>
                                </a>
                                <p class="card-text mb-0">Adaptive height of each card this text is a bit longer to illustrate the. Some quick example text to build on the card title bulk of the card's content and make up the.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="text-muted">March 26, 2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow-sm rounded-3 border-0">
                            <img class="card-img-top" src="img/blog-5.jpeg" alt="...">
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                <a class="text-decoration-none link-dark stretched-link" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                    <h5 class="card-title mb-3 lh-base">What NOT to Do in the Medical Clinic Industry</h5>
                                </a>
                                <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content This text is a bit longer to illustrate the adaptive height of each card.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="text-muted">March, 20 2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow-sm rounded-3 border-0">
                            <img class="card-img-top" src="img/blog-6.jpeg" alt="...">
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                                <a class="text-decoration-none link-dark stretched-link" @onclick='() => nav.NavigateTo("/blog/detail")'>
                                    <h5 class="card-title mb-3 lh-base">The Ugly Truth About Medical Clinic</h5>
                                </a>
                                <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="small">
                                            <div class="text-muted">March 19, 2024</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </section>
    </main>

</body>

@code {

}
