@page "/doctor/doctor-detail/book-appointments"
@page "/doctor/book-appointments"

<PageTitle>Đặt lịch khám</PageTitle>


<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.min.css">
</head>

<body>
    <style>
        .btn-group, .btn-group-vertical {
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            width: 100%;
        }

        .multiselect-container {
            position: absolute;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    </style>
    <main>
        <div class="bg-white">
            <div class="container px-5 py-5 appointments">
                <div>
                    <h2 class="m-auto fw-bold text-center text-black mb-2 mx-auto p-2">ĐẶT LỊCH KHÁM BỆNH</h2>
                    <div class="m-auto bg-primary shadow-sm p-5 rounded-3 col-lg-8 mx-auto">
                        <form action="/" class="text-start pt-4">
                            <div class="mb-3">
                                <label for="fullname" class="form-label medium text-white">Họ và tên người khám <small class="text-danger">*</small></label>
                                <input type="text" id="fullName" class="form-control" placeholder="Nguyễn Văn A" pattern="[^\s]+" title="Vui lòng không nhập khoảng trắng" required>
                            </div>
                            <div class="mb-3">
                                <label for="phoneNumbers" class="form-label medium text-white">Số điện thoại <small class="text-danger">*</small></label>
                                <input type="tel" id="phoneNumbers" class="form-control" placeholder="Nhập số điện thoại" required pattern="0[0-9]{9}" title="Vui lòng nhập số điện thoại hợp lệ" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại hợp lệ và không có khoảng trắng.')">
                            </div>
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="specialization" class="form-label medium text-white">Chọn chuyên khoa <small class="text-danger fw-bold">*</small></label>
                                    <select id="specialization" class="form-select" required aria-label="Chọn Chuyên khoa">
                                        <option value="">Chọn chuyên khoa</option>
                                        <option value="1">Chuyên khoa 1</option>
                                        <option value="2">Chuyên khoa 2</option>
                                        <option value="3">Chuyên khoa 3</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="doctor" class="form-label medium text-white">Chọn bác sĩ <small class="text-danger">*</small></label>
                                    <select id="doctor" class="form-select" required aria-label="Chọn bác sĩ">
                                        <option value="">Chọn bác sĩ</option>
                                        <option value="1">Bác sĩ 1</option>
                                        <option value="2">Bác sĩ 2</option>
                                        <option value="3">Bác sĩ 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label medium text-white">Chọn ngày và khung giờ muốn khám <small class="text-danger fw-bold">*</small></label>
                                <input type="datetime-local" class="form-control" id="datetime" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label medium text-white">Nhập tình trạng sức khỏe <small class="text-danger">*</small></label>
                                <textarea class="form-control height-auto" rows="4" placeholder="Nhập tình trạng sức khỏe của bạn, câu hỏi cho bác sĩ và các vấn đề sức khỏe cần khám." required></textarea>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="service" class="form-label medium text-white">Chọn dịch vụ <small class="text-danger fw-bold">*</small></label>
                                    <select class="form-select" id="service" multiple="multiple" required>
                                        <option value="1">Dịch vụ 1</option>
                                        <option value="2">Dịch vụ 2</option>
                                        <option value="3">Dịch vụ 3</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="payment" class="form-label medium text-white">Phương thức thanh toán <small class="text-danger">*</small></label>
                                    <select class="form-select" required aria-label="Chọn phương thức thanh toán">
                                        <option value="">Chọn phương thức thanh toán</option>
                                        <option value="1">Phương thức 1</option>
                                        <option value="2">Phương thức 2</option>
                                        <option value="3">Phương thức 3</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="text-center col-lg-5 py-4 mx-auto">
                                    <button type="submit" class="btn btn-warning fw-bold fs-7 rounded-3 border-0 px-4 py-3 text-uppercase">Đặt lịch khám</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#service').multiselect({
                buttonClass: 'form-select',
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle" data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                },
            });
        });
    </script>
</body>
