@page "/chat"
@inject IClinicService clinicService
@inject NavigationManager nav

<PageTitle>Chat</PageTitle>

<head>
    <link rel="stylesheet" href="css/user.css" />
</head>

<div class="container px-5">
    <div class="user-wrapper">
        <div>
            <div class="row user-hdr">
                <SideBarProfile />
                <div class="col-md-9 col-lg-9 p-0">
                    <h1 class="user-ttl">Profile</h1>
                    <div class="user-container">
                        <div class="user-body py-2">
                            <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public string id { get; set; }
    [Parameter] public string role { get; set; }
}