@page "/doctor/doctor-detail/book-appointments/confirm"
@page "/doctor/book-appointments/confirm"

<PageTitle>Xác nhận thông tin</PageTitle>
<main>
    <div class="bg-white">
        <div class="container px-5 py-5 appointments">
            <div>
                <h2 class="m-auto fw-bold text-center text-black mb-2 mx-auto p-2">XÁC NHẬN THÔNG TIN</h2>
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5 offset-md-3">
                            <div class="card mh-100 bg-primary shadow-lg">
                                <div class="card-body mx-4 my-3 px-5 py-4">
                                    <h4 class="m-auto text-center text-white mb-2 mx-auto">Thông tin bệnh nhân</h4>
                                    <div class="mb-3">
                                        <label for="fullname" class="form-label medium text-white">Họ và tên người khám <small class="text-danger">*</small></label>
                                        <input type="text" class="form-control" placeholder="Nguyễn Văn A" pattern="[^\s]+" title="Vui lòng không nhập khoảng trắng" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="major" class="form-label medium text-white">Giới tính<small class="text-danger">*</small></label>
                                        <select class="form-select" required aria-label="Chọn giới tính">
                                            <option value="">Chọn giới tính</option>
                                            <option value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                            <option value="3">Khác</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailInput" class="form-label medium text-white">Email <small class="text-danger">*</small></label>
                                        <input type="email" class="form-control" id="emailInput" placeholder="nguyenvana@gmail.com" required>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label medium text-white">Số điện thoại <small class="text-danger">*</small></label>
                                        <input type="tel" class="form-control" placeholder="Nhập số điện thoại" required pattern="0[0-9]{9}" title="Vui lòng nhập số điện thoại hợp lệ" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại hợp lệ và không có khoảng trắng.')">
                                    </div>
                                    <div class="mb-3">
                                        <label for="date" class="form-label medium text-white">Ngày sinh <small class="text-danger fw-bold">*</small></label>
                                        <input type="datetime-local" class="form-control" id="datetime" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="address" class="form-label medium text-white">Địa chỉ <small class="text-danger">*</small></label>
                                        <input type="text" class="form-control" placeholder="400 Hải Phòng, phường Chinh Gián, quận Thanh Khê, Đà Nẵng" pattern="[^\s]+" title="Vui lòng không nhập khoảng trắng" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5 offset-md-3">
                            <div class="card mh-100 bg-primary shadow-lg">
                                <div class="card-body mx-4 my-3 px-5 py-4">
                                    <h4 class="m-auto text-center text-white mb-2 mx-auto">Thông tin đặt lịch khám</h4>
                                    <div class="mb-3">
                                        <label for="date" class="form-label medium text-white">Ngày và khung giờ muốn khám <small class="text-danger fw-bold"></small></label>
                                        <input type="datetime-local" class="form-control" id="datetime" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="doctor" class="form-label medium text-white">Bác sĩ</label>
                                        <input type="text" class="form-control" placeholder="Nguyễn Văn B" pattern="[^\s]+" size=20 readonly="False">
                                    </div>
                                    <div class="mb-3">
                                        <label for="specialist" class="form-label medium text-white">Chuyên khoa</label>
                                        <input type="text" class="form-control" placeholder="Chuyên khoa 1" pattern="[^\s]+" size=20 readonly="False">
                                    </div>
                                    <div class="mb-3">
                                        <label for="service" class="form-label medium text-white">Dịch vụ</label>
                                        <input type="text" class="form-control" placeholder="Dịch vụ 1" pattern="[^\s]+" size=20 readonly="False">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="btn-group d-flex justify-content-center">
                                    <a href="doctor/book-appointments" class="btn btn-primary btn-lg mx-5 card-link">Quay lại</a>
                                    <a href="doctor/book-appointments/confirm/invoice" class="btn btn-primary btn-lg mx-5 card-link">Xác nhận</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>