@page "/doctor"

<PageTitle>Bác sĩ</PageTitle>

<main class="flex-shrink-0">
    <div class="bg-primary">
        <header class="bg-primary py-4 inner-header">
            <div class="container py-3 px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h1 class="fw-bold text-white text-uppercase">Các bác sĩ chuyên nghiệp của chúng tôi</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 mt-5">
            <div class="row gx-5">
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d1.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Collis Molate <i class="bi bi-patch-check-fill small text-primary"></i></h5>
                                    <p class="fw-light mb-0 text-muted small">Neurosurgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d2.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Domani Plavon</h5>
                                    <p class="fw-light mb-0 text-muted small">Neurosurgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d3.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">John Mard</h5>
                                    <p class="fw-light mb-0 text-muted small">Dental Surgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d4.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Domani Plavon</h5>
                                    <p class="fw-light mb-0 text-muted small">Neurosurgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d5.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Amanal Frond <i class="bi bi-patch-check-fill small text-primary"></i></h5>
                                    <p class="fw-light mb-0 text-muted small">Neurosurgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d6.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">John Mard</h5>
                                    <p class="fw-light mb-0 text-muted small">Dental Surgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d7.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">John Mard</h5>
                                    <p class="fw-light mb-0 text-muted small">Dental Surgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d8.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Domani Plavon</h5>
                                    <p class="fw-light mb-0 text-muted small">Neurosurgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="d-flex mb-3 align-items-center">
                                <img class="img-fluid rounded-circle" src="img/d2.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Amanal Frond <i class="bi bi-patch-check-fill small text-primary"></i></h5>
                                    <p class="fw-light mb-0 text-muted small">Neurosurgeon</p>
                                </div>
                            </div>
                            <p class="text-muted fw-light mb-4">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.</p>
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <a href="#" class="text-primary"><span class="bi bi-facebook"></span></a>
                                    <a href="#" class="text-primary mx-3"><span class="bi bi-google"></span></a>
                                    <a href="#" class="text-primary"><span class="bi bi-twitter"></span></a>
                                </div>
                                <a href="doctors-item.html" class="btn btn-outline-primary stretched-link">Get Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center col-lg-12">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
