@*@page "/feedback/{doctorId}/{bookingId}"
@inject IClinicService clinicService


        <div class="bg-light p-4 rounded-3">
            <div class="mx-auto">
                <div class="mb-3 col-md-12">
                    <label for="rate" class="form-label text-navy fs-6 fw-bold">Rating Star</label>
                    <input type="number" @bind-value="@form.Rate" class="form-control" placeholder="Enter a number" min="1" max="5">
                </div>

                <div class="mb-3 col-md-12">
                    <label for="comment" class="form-label fs-6 text-navy fw-bold">Comments</label>
                    <textarea @bind="form.Comment" class="form-control" placeholder="Enter your comment here" rows="3"></textarea>
                </div>
                <div class="text-center col-md-4 p-2 mx-auto">
                    <button @onclick="@(_ => SendForm())" class="btn btn-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase"> Send </button>
                </div>
            </div>
        </div>
@code {
    
}*@