@page "/feedback"

<body style="background: none !important">
    <main class="flex-shrink-0">
        <div class="my-5 bg-primary p-5 rounded-3 col-lg-8 mx-auto">
            <form class="my-2 mx-2">
                <div class="col-md-8 mx-2">
                    <div class="mb-3 d-flex">
                        <label for="rate" class="form-label text-white fs-6 fw-bold">Number</label>
                        <input type="number" class="form-control ms-3" placeholder="Enter a number" min="1" max="5">
                    </div>

                    <div class="mb-3 col-12">
                        <label for="comment" class="form-label fs-6 text-white fw-bold">Comments</label>
                        <textarea class="form-control col-md-12" placeholder="Enter your comment here" rows="3"></textarea>
                    </div>
                    <div class="text-center col-lg-5 py-4 mx-auto">
                        <button type="submit" class="btn btn-outline-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase"> Send </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

@code {

}
