@page "/payment/success/{bookingId}"
@using Clinic.BlazorWebPWA.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager nav
@inject IClinicService clinicService

<PageTitle>Payment Success</PageTitle>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="css/paymentNoti.css" rel="stylesheet" />
</head>

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin: auto; margin-bottom: 30px;">
            <i1 class="checkmark">✓</i1>
        </div>
        @if(Notification is true)
        {
            <h1>Payment successful</h1>
            <p>We received your purchase request!<br /></p>
        }
        else
        {
            <h1>Loading</h1>
        }
        <button type="button" @onclick='() => nav.NavigateTo("/")' class="btn btn-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase" style="background: #2c77b0; font-size: 17px">Go back to Homepage</button>
        <button type="button" @onclick='() => nav.NavigateTo($"/doctor/doctor-detail/book-appointments/confirm/invoice/{bookingId}")' class="btn btn-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase" style="background: #2c77b0; font-size: 17px">See Invoice</button>
    </div>
</body>
@code{
    [Parameter] public string bookingId { get; set; }
    [Inject] IAccessTokenProvider TokenProvider { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string accessToken { get; set; }
    public bool Notification { get; set; }
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();

        var authState = await authenticationStateTask;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            nav.NavigateTo("authentication/login");
        }

        var accessTokenResult = await TokenProvider.RequestAccessToken();
        accessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            accessToken = token.Value;
        }

        var response = await clinicService.ChangeBookingStatus<ResponseDto>(bookingId, accessToken);
        if (response != null && response.IsSuccess)
        {
            Notification = (bool)response.Result;
            StateHasChanged();
        }
    }
}