@page "/payment/success/{bookingId}"
@using Clinic.DTO.Models.Message
@using System.Text
@using Net.payOS
@using Net.payOS.Types
@inject NavigationManager nav
@inject IClinicService clinicService
@inject IHttpClientFactory ClientFactory
@inject PayOS _payOS
<PageTitle>Payment Success</PageTitle>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <link href="css/paymentNoti.css" rel="stylesheet" />
</head>

<body>
<div class="card">

        <div class="rounded-circle bg-light d-flex justify-content-center align-items-center" style="height: 200px; width: 200px; margin: auto; margin-bottom: 30px;">
            <i1 class="checkmark justify-content-center align-items-center">✓</i1>
        </div>
        <h1>Payment successful</h1>
        <p>We received your purchase request!<br/></p>
        <button type="button" @onclick='() => nav.NavigateTo("/")' class="btn btn-warning btn-outline-light fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase mb-3" style="background: #2c77b0; font-size: 17px">Go back to Homepage</button>
        <button type="button" @onclick='() => nav.NavigateTo($"/invoice/{invoiceId}")' class="btn btn-warning btn-outline-light fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase" style="background: #2c77b0; font-size: 17px">See Invoice</button>
    
</div>
</body>
@code{
    [Parameter] public string bookingId { get; set; }
    string invoiceId = Guid.NewGuid().ToString();
    protected async override Task OnInitializedAsync()
    {

        //PaymentLinkInformation paymentLinkInfomation = await _payOS.getPaymentLinkInfomation(1);
        InvoiceMessage message = new()
        {
            Id = bookingId,
            MessageCreated = DateTime.Now,
            InvoiceId = invoiceId
        };
        base.OnInitialized();
        var httpClient = ClientFactory.CreateClient("OrderMessage");
        HttpRequestMessage requestMessage = new(HttpMethod.Post, "/api/MessageReceiver");
        requestMessage.Content = new StringContent(JsonConvert.SerializeObject(message), Encoding.UTF8, "application/json");

        await httpClient.SendAsync(requestMessage);
    }
}