@page "/view-appointment"
@using Clinic.DTO.Models.Dto
@using Clinic.BlazorWebPWA.Extensions
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IClinicService clinicService
@inject NavigationManager nav

<PageTitle>View Appointment</PageTitle>

<body style="background: none !important">
    <main class="flex-shrink-0">

    </main>
</body>

@code {

}
