@page "/health-packages/booking-health-packages"
@page "/health-packages/health-package-detail/booking-health-packages"

<PageTitle>Booking Health Package</PageTitle>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <main>
        <div class="bg-white">
            <div class="container px-5 py-5 appointments">
                <div>
                    <h2 class="m-auto fw-bold text-center text-black mb-2 mx-auto p-3">BOOKING HEALTH PACKAGE</h2>
                    <div class="m-auto bg-primary shadow-sm p-5 rounded-3 col-lg-10 mx-auto">
                        <form class="text-start pt-4">
                            <div class="mb-3">
                                <label for="fullname" class="form-label medium text-white">Package Name <small class="text-danger">*</small></label>
                                <input type="text" class="form-control" placeholder="Package Name">
                            </div>
                            <div class="mb-3">
                                <label class="form-label medium text-white">Price <small class="text-danger">*</small></label>
                                <input type="text" class="form-control" placeholder="Price">
                            </div>
                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="" class="form-label medium text-white">Specialization <small class="text-danger fw-bold">*</small></label>
                                    <input type="text" class="form-control" placeholder="Price">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="" class="form-label medium text-white">Chọn chuyên khoa <small class="text-danger">*</small></label>
                                    <select class="form-select" required aria-label="Chọn Chuyên khoa">
                                        <option value="">Chọn chuyên khoa</option>
                                        <option value="1">Chuyên khoa 1</option>
                                        <option value="2">Chuyên khoa 2</option>
                                        <option value="3">Chuyên khoa 3</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label medium text-white">Coupon <small class="text-danger">*</small></label>
                                    <input type="tel" class="form-control" placeholder="Coupon">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning fw-bold fs-7 rounded-3 w-100 border-0 px-4 py-3 text-uppercase">Đặt lịch khám</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>

</body>
@code {

}
