@page "/health-packages/booking-health-packages"
@page "/health-packages/health-package-detail/booking-health-packages"

<PageTitle>Đặt gói khám sức khỏe</PageTitle>

<h3>Booking_health_packages</h3>

@code {

}
