@page "/health-packages"

<PageTitle>Gói khám sức khỏe</PageTitle>

<head>
    <link href="css/doctor.css" rel="stylesheet" />
</head>

<body>
    <main class="flex-shrink-0">
        <div class="bg-primary">
            <header class="bg-primary py-4 inner-header">
                <div class="container py-3 px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h1 class="fw-bold text-white text-uppercase">Gói khám sức khỏe</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- Search bar-->
        <!--Health packages card-->
        <section class="py-3">
            <div class="container px-5 mt-3">
                <div class="row gx-5">
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám sức khỏe định kỳ</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Khi đã có dấu hiệu bệnh việc khám và điều trị tốn kém nhiều chi phí và thời gian, thậm chí bệnh đã ở giai đoạn nặng. Vì vậy, mỗi người hãy chủ động khám sức khoẻ định kỳ 6 tháng - 1 năm/lần để tầm soát các mầm mống bệnh tật và điều chỉnh lối sống lành mạnh.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 4.000.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám sức khỏe tổng quát Tiêu chuẩn Nữ (dưới 40 tuổi) </h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Gói khám sức khỏe tổng quát Tiêu chuẩn Nữ dưới 40 tuổi được thực hiện bởi các bác sĩ chuyên môn giỏi, trình độ cao, giúp đánh giá chính xác về tình trạng sức khỏe chung đồng thời phát hiện sớm một số bệnh lý nguy hiểm.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 4.500.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám sức khỏe tổng quát Tiêu chuẩn Nam (dưới 40 tuổi)</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">The sunrise and sunset gorges. Horses and local natural products. We are happy family. We look forward to host you.Gói khám sức khoẻ tổng quát Tiêu chuẩn được thực hiện bởi các bác sĩ chuyên môn giỏi, trình độ cao, giúp đánh giá chính xác về tình trạng sức khỏe chung đồng thời phát hiện sớm một số bệnh lý nguy hiểm.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 4.500.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám sức khỏe tổng quát Trẻ em</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Với gói khám sức khoẻ tổng quát trẻ em, bé yêu của bạn sẽ được khám toàn diện kết hợp với chẩn đoán bằng hình ảnh, giúp bạn kiểm tra tổng thể sức khỏe cho bé, sàng lọc triệu chứng để sớm phát hiện và điều trị nếu cần.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 2.500.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói Khám sức khỏe người cao tuổi (Áp dụng cho gói Khám sức khỏe Huyết áp – Tim mạch nâng cao)</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Các bệnh lý huyết áp - tim mạch thường không có triệu chứng rõ ràng ở giai đoạn đầu. Bởi vậy việc tầm soát, phát hiện bệnh sớm bệnh lý này sẽ giúp nâng cao hiệu quả điều trị và giúp người bệnh hồi phục nhanh chóng hơn. Đặc biệt với người già do cơ thể dần lão hóa, hệ miễn dịch suy yếu, khó chống đỡ được bệnh tật thì thăm khám sức khỏe định kỳ càng đóng vai trò quan trọng.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 3.000.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám sức khỏe tổng quát & tầm soát ung thư</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Khám sức khỏe tổng quát và tầm soát ung thư định kỳ có vai trò vô cùng quan trọng trong việc phát hiện sớm các vấn đề bất thường về sức khỏe trước khi chuyển thành bệnh nguy hiểm giúp tiết kiệm được thời gian, tiền bạc và tránh được các biến chứng do bệnh gây ra.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 9.200.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám nội soi cơ bản thực quản - dạ dày - tá tràng </h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Nội soi thực quản - dạ dày - tá tràng có vai trò rất quan trọng trong việc phát hiện sớm những tổn thương loét, viêm, khối u, nhiễm trùng… tại thực quản, dạ dày, tá tràng. Thông qua hình ảnh nội soi, bác sĩ sẽ chẩn đoán chính xác tình trạng bệnh nhân đang gặp phải để đưa ra hướng điều trị phù hợp và hiệu quả.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 2.500.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói khám phụ khoa</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Gói khám phụ khoa do trực tiếp bác sĩ trên 35 năm kinh nghiệm từng là Trưởng khoa Phụ sản bệnh viện tuyến Trung ương xây dựng và thăm khám. Danh mục đầy đủ từ khám lâm sàng, siêu âm, xét nghiệm,...với chi phí tiết kiệm nhất.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 2.300.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="mb-2">
                                        <h4 class="fw-bold card-title">Gói Khám sức khỏe tiền hôn nhân</h4>
                                        <h5 class="card-subtitle mb-0">Neurosurgeon</h5>
                                    </div>

                                    <div class="card-text">
                                        <p class="text-muted mb-2">Khám tiền hôn nhân là bước quan trọng để các cặp đôi sẵn sàng bước vào cuộc sống vợ chồng một cách tự tin và chào đón những em bé khoẻ mạnh. Chúng tôi xây dựng gói khám bao quát và chuyên sâu nhằm chỉ ra các bệnh ảnh hưởng tới khả năng sinh sản và phát hiện những rối loạn di truyền cho thế hệ sau.</p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 3.500.000đ</h6>
                                    </div>

                                    <div class="d-flex mx-3 gap-2">
                                        <a href="/" class="btn btn-navy card-link">Chi tiết</a>
                                        <a href="/health-packages" class="btn btn-navy card-link">Đặt gói khám</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Pagination-->
        <section class="p-3 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>

    <script>
        document.querySelectorAll(".stars").forEach((starsContainer) => {
            const stars = starsContainer.querySelectorAll(".bi-star-fill");

            stars.forEach((star, index1) => {
                star.addEventListener("click", () => {
                    stars.forEach((otherStar, index2) => {
                        index1 >= index2
                            ? otherStar.classList.add("active")
                            : otherStar.classList.remove("active");
                    });

                    // Update the rating display based on the clicked star
                    const ratingDisplay = starsContainer.nextElementSibling.querySelector(".fw-bold.my-auto.fs-6");
                    ratingDisplay.textContent = `${index1 + 1}/5`;
                });
            });
        });
    </script>

</body>

