
@page "/health-packages/detail/kham-suc-khoe-tong-quat-tieu-chuan-nu-duoi-40-tuoi"

<PageTitle>Health Package Detail</PageTitle>

<head>
    <link href="css/doctor.css" rel="stylesheet" />
</head>

<body>
    <main class="flex-shrink-0">
        <div class="bg-primary">
            <header class="bg-primary py-4 inner-header">
                <div class="container py-3 px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h1 class="fw-bold text-white text-uppercase">Health Package Detail</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <section class="py-3">
            <div class="container px-5 mt-3">
                <div class="row gx-5">
                    <div class="col-12">
                        <div class="card mb-5">
                            <div class="bg-white shadow-sm border">
                                <div class="card-body align-items-center mx-3">
                                    <div class="text-center">
                                        <h2 class="fw-bold card-title">Gói khám sức khỏe tổng quát Tiêu chuẩn Nữ (dưới 40 tuổi)</h2>
                                    </div>
                                    <div class="card-text">
                                        <p class="text-muted mb-2">Gói khám sức khoẻ tổng quát Tiêu chuẩn nữ dưới 40 tuổi được thực hiện bởi các bác sĩ chuyên môn giỏi, trình độ cao của Vinmec, giúp đánh giá chính xác về tình trạng sức khỏe chung cũng như chức năng của các cơ quan trong cơ thể đồng thời phát hiện sớm một số bệnh lý nguy hiểm liên quan đến vú.</p>
                                    </div>
                                    <div class="mb-2">
                                        <h5 class="fw-bold card-title">Chi tiết gói khám</h5>
                                    </div>
                                    <div class="card-text">
                                        <p class="text-muted mb-2">
                                            Gói khám sức khỏe tổng quát Tiêu chuẩn được thực hiện bởi các bác sĩ chuyên môn giỏi, trình độ cao của Vinmec, giúp đánh giá chính xác về tình trạng sức khỏe chung cũng như chức năng của các cơ quan trong cơ thể đồng thời phát hiện sớm một số bệnh lý nguy hiểm.<br>
                                            Gói khám với các dịch vụ cơ bản kiểm tra tổng thể sức khỏe của khách hàng: từ thăm khám lâm sàng và cận lâm sàng nhằm phát hiện các yếu tố nguy cơ gây bệnh từ đó điều chỉnh, thay đổi lối sống nhằm nâng cao sức khỏe và dự phòng để không xảy ra bệnh.<br>
                                            Khách hàng được phát hiện có bệnh lý về tăng huyết áp, tăng men gan, tăng acid uric, hội chứng chuyển hóa (thừa cân béo phì, tăng đường máu, tăng mỡ máu), bệnh lý gan mật, tuyến giáp.<br>
                                            Với Khách hàng nữ dưới 40 tuổi : Khám phụ khoa sàng lọc ung thư vú, ung thư tử cung buồng trứng với bác sĩ chuyên khoa.<br>
                                            Gói khám không áp dụng với mục đích khám phân loại sức khỏe theo quy định của BYT, khám giám định y khoa, khám để cấp giấy chứng thương, khám bệnh nghề nghiệp, khám work permit.<br>
                                            Gói khám không có giá trị trong phát hiện sớm ung thư</p>
                                    </div>
                                    <div class="mb-2">
                                        <h5 class="fw-bold card-title">Đối tượng và điều kiện áp dụng</h5>
                                    </div>
                                    <div class="card-text">
                                        <p class="text-muted mb-2">
                                            Đối tượng áp dụng: Dành cho nữ giới dưới 40 tuổi, đáp ứng nhu cầu kiểm tra cơ bản (theo thông tư 14 của Bộ Y tế)<br>
                                            Chế độ ưu đãi, quà tặng kèm theo: Khách hàng sau khám SKTQ sẽ được tặng 1 voucher miễn phí 1 lần khám chuyên khoa có hẹn trong vòng 30 ngày kể từ ngày khám SKTQ (không có giá trị chuyển nhượng cho người khác).<br>
                                            Thời gian sử dụng: Theo thời gian làm việc của Vinmec: Từ 8h00 đến 17h00 từ thứ 2 đến thứ 6 và sáng thứ 7 (từ 8h00 đến 12h00). Khách hàng vui lòng liên hệ với hotline Vinmec để biết thông tin chi tiết.<br>
                                            Lưu ý: Trường hợp đặc biệt với KH là phụ nữ có thai hoặc nghi ngờ có thai, không áp dụng dịch vụ chụp X-Quang khi sử dụng gói sản phẩm
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-start gap-3">
                                        <p class="fw-bold my-auto fs-6"> Đánh giá: </p>
                                        <div class="stars gap-2 fs-5">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <p class="fw-bold my-auto fs-6">A.a/5 </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center justify-content-between card-footer">
                                    <div class="mx-3">
                                        <h6 class="my-auto fw-bold">Giá: 4.500.000đ</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between px-3 py-5">
                        <a href="" class="btn btn-primary btn-lg mx-auto card-link">Đặt gói khám</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>